<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="userForm" (ngSubmit)="login()" novalidate>
    <div class="mb-3">
      <label class="form-label">Correo</label>
      <input formControlName="mail" type="email" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Contraseña</label>
      <input formControlName="password" type="password" class="form-control" required>
    </div>
  
    
    <button [disabled]="!userForm.valid" type="submit" class="btn btn-primary button" >Iniciar sesión</button>
        
    
  </form>
</ion-content>
