<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="background-image"></div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Rol: {{rol}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <div class="image">

        <ion-img [src]="urlImg" ></ion-img>
      </div>
      <br>
      Usuario: {{name}}
      <br>
      Correo: {{mail}}
    </ion-card-content>
    <ion-button expand='block' color="secondary" [routerLink]="['/useredit',uid]">Modificar perfil</ion-button>
  </ion-card>

  <!-- <form [formGroup]="profileForm" (ngSubmit)="modifiedProfile()" novalidate>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input formControlName="name" type="text" class="form-control"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" disabled>Email</ion-label>
      <ion-input formControlName="mail" type="email" class="form-control"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Rol</ion-label>
      <ion-input formControlName="rol" type="text" class="form-control"></ion-input>
    </ion-item>
  


    <ion-button expand='block' color="secondary">Modificar perfil</ion-button>
  </form> -->
</ion-content>
